---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Ignacio",
  country: "Chile",
  occupation: "estudiante de programación",
  hobbies: ["games", "dibujar", "musica"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "C#"];

const happy = false;
const finished = false;
const goal = 3;


---


<BaseLayout pageTitle={pageTitle}>
    
    <h2>Un weon patetico </h2>

    <p>
      Estoy trabajando en como salir de la miseria que vivo
    </p>

    <p>
      Este sitio se irá actualizando a medida que se me quiten las ganas de vivir, si no se actualiza mas es porque me mate
    </p>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 3 días.</p>
      ) : (
        <p>Mi objetivo no son 3 días.</p>
      )
    }

    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

</BaseLayout>