---
import '../styles/global.css';
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Ignacio",
  country: "Chile",
  occupation: "estudiante de programación",
  hobbies: ["games", "dibujar", "musica"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "C#"];

const happy = false;
const finished = false;
const goal = 3;

const skillColor = "black";
const fontWeight = "Sans-serif ";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://www.idlesband.com/wp-content/uploads/sites/3/2023/10/cropped-idles-favicon-2023-32x32.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <h2>Un weon patetico </h2>

    <p>
      Estoy trabajando en como salir de la miseria que vivo
    </p>

    <p>
      Este sitio se irá actualizando a medida que se me quiten las ganas de vivir, si no se actualiza mas es porque me mate
    </p>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 3 días.</p>
      ) : (
        <p>Mi objetivo no son 3 días.</p>
      )
    }

    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</html>
